flows.json
[
    {
        "id": "1ff1459640c0f8b6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8901033ba916678a",
        "type": "mqtt in",
        "z": "1ff1459640c0f8b6",
        "name": "",
        "topic": "none",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "121ab36fa14229dc",
                "70df59e1df98b8d5",
                "deec7a02ed6614fe"
            ]
        ]
    },
    {
        "id": "121ab36fa14229dc",
        "type": "ui_chart",
        "z": "1ff1459640c0f8b6",
        "name": "",
        "group": "bd254d873ba96cd5",
        "order": 0,
        "width": "8",
        "height": "6",
        "label": "LDR Sensor Data (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "deec7a02ed6614fe",
        "type": "debug",
        "z": "1ff1459640c0f8b6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "b8b5d8120f90ac43",
        "type": "change",
        "z": "1ff1459640c0f8b6",
        "name": "Prepare to clear data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "121ab36fa14229dc"
            ]
        ]
    },
    {
        "id": "bb38ad20b9e63d14",
        "type": "inject",
        "z": "1ff1459640c0f8b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "b8b5d8120f90ac43"
            ]
        ]
    },
    {
        "id": "70df59e1df98b8d5",
        "type": "function",
        "z": "1ff1459640c0f8b6",
        "name": "Determine Brightness",
        "func": "let brightness = Number(msg.payload);\n\n// Define brightness levels\nif (brightness >= 60) {\n    msg.payload = \"Very Bright\";\n} else if (brightness >= 30) {\n    msg.payload = \"Bright\";\n} else {\n    msg.payload = \"Dark\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "3094f866a7430564"
            ]
        ]
    },
    {
        "id": "3094f866a7430564",
        "type": "ui_text",
        "z": "1ff1459640c0f8b6",
        "group": "bd254d873ba96cd5",
        "order": 1,
        "width": "2",
        "height": "2",
        "name": "",
        "label": "Brightness Level Display",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "7afa46c45bd4ed09",
        "type": "mysql",
        "z": "1ff1459640c0f8b6",
        "mydb": "",
        "name": "mysql",
        "x": 630,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "11676f1fa1b63897",
        "type": "function",
        "z": "1ff1459640c0f8b6",
        "name": "database",
        "func": "msg.ldrValue = Number(msg.payload);\n\nvar out = \"INSERT INTO sensor_data (id, sensor_value,timestamp)\"\nout = out + \"VALUES ('\" + \"''\" + \"','\" + msg.ldrValue +\"','\" + new Date().toISOString() + \"');\" \n\n    \nmsg.topic=out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "7afa46c45bd4ed09"
            ]
        ]
    },
    {
        "id": "42feb11102a71b6b",
        "type": "telegram receiver",
        "z": "1ff1459640c0f8b6",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "063dc4bf5b4280cb"
            ],
            []
        ]
    },
    {
        "id": "063dc4bf5b4280cb",
        "type": "function",
        "z": "1ff1459640c0f8b6",
        "name": "Handle /brightness or /stop",
        "func": "let command = msg.payload.content;\n\nif (command === \"/brightness\") {\n    global.set(\"brightnessOn\", true);\n    global.set(\"userChatId\", msg.payload.chatId);\n    msg.payload.content = \"🔆 Brightness updates started!\";\n    return msg;\n} else if (command === \"/stop\") {\n    global.set(\"brightnessOn\", false);\n    msg.payload.content = \"🛑 Brightness updates stopped.\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 580,
        "wires": [
            [
                "7018e4183fb3160c"
            ]
        ]
    },
    {
        "id": "e23860ced8e13181",
        "type": "mqtt in",
        "z": "1ff1459640c0f8b6",
        "name": "",
        "topic": "none",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "4661bfbdf28db1a7"
            ]
        ]
    },
    {
        "id": "4661bfbdf28db1a7",
        "type": "switch",
        "z": "1ff1459640c0f8b6",
        "name": "If brightnessOn == true",
        "property": "brightnessOn",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "1cf3904b0b2c52c6"
            ]
        ]
    },
    {
        "id": "1cf3904b0b2c52c6",
        "type": "function",
        "z": "1ff1459640c0f8b6",
        "name": "Format brightness",
        "func": "let chatId = global.get(\"userChatId\") || 0;\n\nmsg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: `💡 Brightness: ${msg.payload}%`\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 720,
        "wires": [
            [
                "7018e4183fb3160c"
            ]
        ]
    },
    {
        "id": "7018e4183fb3160c",
        "type": "telegram sender",
        "z": "1ff1459640c0f8b6",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1c18e3f0beb43156",
        "type": "mqtt in",
        "z": "1ff1459640c0f8b6",
        "name": "",
        "topic": "none",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "11676f1fa1b63897"
            ]
        ]
    },
    {
        "id": "bd254d873ba96cd5",
        "type": "ui_group",
        "name": "LDR Sensor Data",
        "tab": "0c120b929ce21277",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c120b929ce21277",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
